 body {
   font-family: 'Inter', sans-serif;
   @apply bg-zinc-900 text-white;
 }

 .shadow-box-up {
   box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
     0 -2px 4px -2px rgba(0, 0, 0, 0.1);
 }

 .shadow-button-flat-nopressed {
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
     0px 2px 4px rgba(0, 0, 0, 0.06);
 }

 .shadow-button-flat-pressed {
   box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1),
     inset 0px 2px 4px rgba(0, 0, 0, 0.06);
 }

 .dark\:shadow-box-dark-out {
   box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.3),
     0 -4px 6px -2px rgba(0, 0, 0, 0.2);
 }

 .dark\:shadow-buttons-box-dark {
   box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2),
     0px 4px 6px -4px rgba(0, 0, 0, 0.3);
 }

 .dark\:shadow-button-curved-default-dark {
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
     0 2px 4px -1px rgba(0, 0, 0, 0.12);
 }

 .dark\:shadow-button-curved-pressed-dark {
   box-shadow: inset 0 4px 6px -1px rgba(0, 0, 0, 0.2),
     inset 0 2px 4px -1px rgba(0, 0, 0, 0.12);
 }

 .image-preview {
   width: 100%;
   padding-top: 100%;
   /* Creates a square aspect ratio */
   position: relative;
 }

 .image-preview img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0.75rem;
   /* rounded-xl */
 }

 /* From Uiverse.io by david-mohseni */
 .wrapper {
   display: inline-flex;
   list-style: none;
   height: 120px;
   width: 100%;
   padding-top: 40px;
   font-family: "Poppins", sans-serif;
   justify-content: center;
 }

 .wrapper .icon {
   position: relative;
   background: #fff;
   border-radius: 50%;
   margin: 10px;
   width: 50px;
   height: 50px;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .wrapper .tooltip {
   position: absolute;
   top: 0;
   font-size: 14px;
   background: #fff;
   color: #fff;
   padding: 5px 8px;
   border-radius: 5px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .wrapper .tooltip::before {
   position: absolute;
   content: "";
   height: 8px;
   width: 8px;
   background: #fff;
   bottom: -3px;
   left: 50%;
   transform: translate(-50%) rotate(45deg);
   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .wrapper .icon:hover .tooltip {
   top: -45px;
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
 }

 .wrapper .icon:hover span,
 .wrapper .icon:hover .tooltip {
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
 }

 .wrapper .facebook:hover,
 .wrapper .facebook:hover .tooltip,
 .wrapper .facebook:hover .tooltip::before {
   background: #1877f2;
   color: #fff;
 }

 .wrapper .twitter:hover,
 .wrapper .twitter:hover .tooltip,
 .wrapper .twitter:hover .tooltip::before {
   background: #1da1f2;
   color: #fff;
 }

 .wrapper .instagram:hover,
 .wrapper .instagram:hover .tooltip,
 .wrapper .instagram:hover .tooltip::before {
   background: #e4405f;
   color: #fff;
 }